* {
    margin: 0px;
    padding: 0px;
    box-sizing: 100%;
}

:root {
    --cor-primaria:#4f46e5;
    --cor-secundaria:#64748b;
    --espacamento:16px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --cor-primaria: #0ea5e9;
    --cor-fundo: #0f172a;
    --cor-texto: #e2e8f0;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --cor-primaria: #2563eb;
    --cor-fundo: #f1f5f9;
    --cor-texto: #0f172a;
  }
}

body {

}

#headerAll {
  height: 108px;
  width: 100%;
  background-color: #0f172a;
}
#navAll {
  height: 58px;
  width: 100%;
  background-color: #4f46e5;
}
#mainAll {
  height: fit-content;
  max-width: 100%;
  background-color: aliceblue;
  display: flex;
  flex-flow: wrap;
}
#footerALl {
  height: 42px;
  width: 100%;
  background-color: rgb(212, 224, 235);
}
#asideAll {
  background-color: rgb(175, 168, 212);
  max-height: 100%;
  width: 25%;
}
#sectionAll {
  height: 500px;
  width: 75%;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}
#articleAll {
  background-color: aqua;
  width: fit-content;
  height: 250px;
}