* {
    margin: 0px;
    padding: 0px;
    box-sizing: 100%;
}

@media (min-width: 1024px) and (min-aspect-ratio: 16/9) {
  .Layout {
    grid-template-columns: 2fr 1fr;
  }
}

body {
  height: 1080px;
  width: 100%;
  background-color: #090c14af;
}

#headerAll {
  height: 8vh;
  width: 100%;
  background-color: #0f172a;
}
#navAll {
  height: 4vh;
  width: 100%;
  background-color: #4f46e5;
}
#mainAll {
  height: fit-content;
  width: 100%;
}
#footerALl {
  height: 28vh;
  width: 100%;
  background-color: rgb(212, 224, 235);
}
#asideAll {
  background-color: rgb(175, 168, 212);

}
#sectionAll {
  background-color: rgb(227, 234, 240);
}
#articleAll {
  background-color: aqua;
}